
.curseclient
journeymap
/logs
usernamecache.json
usercache.json
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta
**/*.log
/.mixin.out
/downloads
/resourcepacks
/crash-reports
saves
patchouli_data.json
schematics
config/jei/world
fancymenu_data/last_world.fmdata
