
.curseclient
journeymap
/logs
usernamecache.json
usercache.json
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta
**/*.log
/.mixin.out
/downloads
/resourcepacks
/crash-reports
saves
patchouli_data.json
schematics
config/jei/world
fancymenu_data/last_world.fmdata
config/openloader/data/empty-world-with-biomes-1.18.2-v1-0/pack.png
options.txt
config/jade/jade.json
config/pneumaticcraft/MicromissileDefaults.cfg
config/roughlyenoughitems/hints.json
config/roughlyenoughitems/config.json5
config/roughlyenoughitems/pinyin_double.properties
